# Ignorar variables de entorno
.env
client/.env
server/.env

# Ignorar node_modules
node_modules/
client/node_modules/
server/node_modules/

# Ignorar carpetas de build
client/dist/
server/dist/

# Otros archivos recomendados
.DS_Store
.vercel
.vscode
